* {
  
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #000;
}

body {
  height: 100%;
}

h2 {
  font-size: 1rem;
  font-weight: 100;
  transition: 0.3s ease-in-out;
  justify-self: center;
}

i {
  font-size: 2rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
  color: #000;
}

a {
  text-decoration: none;
} 

/* ------ HEADER ------ */

header {
  font-size: 1.5rem;
  text-align: center;
}

header img {
  max-width: 300px;
  padding-top: 20px;
}

/* ------- ICONE APP ------ */

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  place-items: center;
  grid-gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.icon-app {
  border: 1px solid #000;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  transition: 0.3s ease-in-out;
  padding: 10px;
}
  .icon-app:hover > h2 {
    background: #000;
    font-size: 1.1rem;
    color: white;
  }
  .icon-app:hover {
    background: #000;
    border-radius: 10px;
  }
  .icon-app:hover > i {
    font-size: 2.5rem;
    color: white;
    background: #000;
  }

  @media screen and (min-width: 450px) {
    .icon-app {
      width: 120px;
      height: 120px;
      padding: 10px 10px 0 10px;
    }
  }
  @media screen and (min-width: 700px) {
    #menu {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media screen and (min-width: 900px) {
    #menu {
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  } 
