@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  background: white;
  line-height: 1;
  height: 100%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 400px;
  color: #484848;
}

header {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid #80808038;
  -webkit-border-bottom: 1px solid #80808038;
}

header h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #484848;
  margin: 0;
}

header h5 img {
  width: 40px;
  position: relative;
  bottom: -7px;
  left: -4px;
}

.text p {
  margin: 0 auto;
  padding-top: 20px;
  line-height: 1.5rem;
  font-size: 1.1rem;
  max-width: 300px;
}

.contact-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #fff;
  padding: 3px;
  border-radius: 10px;
  letter-spacing: 1.1px;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.contact-form form {
  padding: 30px 10px 0 10px;
  font-size: 1.2rem;
  display: -ms-grid;
  display: grid;
  max-width: 300px;
  place-content: center;
  margin: 0 auto;
}

.contact-form form .row {
  padding: 5px 0;
}

.contact-form form label {
  color: #484848;
  place-self: start;
}

.contact-form form input {
  margin: 10px 0;
  padding: 8px;
  width: 85%;
  display: block;
  outline: none;
  font-size: 1.1rem;
  color: #484848;
  background: #d3b9e469;
  position: relative;
  border: none;
  border-radius: 2px;
}

.contact-form form textarea {
  padding: 8px;
  font-family: "Open Sans", sans-serif;
  width: 85%;
  font-size: 1.2rem;
  color: #484848;
  margin: 15px auto;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: #484848;
  background: #d3b9e469;
  border-radius: 2px;
}

.contact-form form textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #484848;
}

.contact-form form textarea:-ms-input-placeholder {
  font-size: 1.5rem;
  color: #484848;
}

.contact-form form textarea::-ms-input-placeholder {
  font-size: 1.5rem;
  color: #484848;
}

.contact-form form textarea::placeholder {
  font-size: 1.5rem;
  color: #484848;
}

.contact-form form button {
  padding: 15px;
  background: #833ab4;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  font-weight: 200;
  letter-spacing: 1.1px;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.contact-form form button:active, .contact-form form button:focus {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.emoji-fran-contact {
  display: -ms-grid;
  display: grid;
  place-content: end;
  padding-bottom: 60px;
}

.emoji-fran-contact img {
  width: 150px;
  text-align: end;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  padding: 2px 0;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.bottom-bar a {
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  color: #000;
}

.bottom-bar img {
  width: 30px;
  position: relative;
  top: 3px;
}

.bottom-bar h2 {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 200;
}

.bottom-bar #back {
  float: left;
}

.bottom-bar #back .back-btn img {
  left: 10px;
}

.bottom-bar #back .back-btn h2 {
  padding-left: 25px;
}

.bottom-bar #map-action {
  float: right;
}

.bottom-bar #map-action .map-btn img {
  right: 10px;
}

.bottom-bar #map-action .map-btn h2 {
  padding-right: 25px;
}
/*# sourceMappingURL=contact-fran.css.map */