body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  color: #000;
}

* {
  margin: 0;
}

img {
  background: transparent;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid #80808038;
}

header h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #833ab4;
  letter-spacing: 1.5px;
}

header h5 img {
  width: 40px;
  position: relative;
  bottom: -7px;
  left: -4px;
}

header .logo-img {
  width: 50px;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  width: 100%;
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.bottom-bar #back {
  float: left;
}

.bottom-bar #back .back-btn {
  width: 30px;
  padding-left: 25px;
}

.bottom-bar #map-action {
  float: right;
}

.bottom-bar #map-action .map-btn {
  width: 40px;
  padding-right: 25px;
}

/* ================ SEARCH BAR =============== */
#search-bar {
  text-align: center;
  width: 100%;
  margin: 20px auto 0 auto;
  position: relative;
}

#search-bar img {
  position: absolute;
  bottom: .7rem;
  left: 2.8rem;
}

#search-bar input {
  padding: 12px 60px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
  color: #000;
  margin: 0 auto;
  border: none;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  background: #e7e7e7;
  border-radius: 60px;
  border: 2px solid transparent;
}

#search-bar input::-webkit-input-placeholder {
  color: rgba(80, 80, 80, 0.678);
  opacity: 1;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

#search-bar input:-ms-input-placeholder {
  color: rgba(80, 80, 80, 0.678);
  opacity: 1;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

#search-bar input::-ms-input-placeholder {
  color: rgba(80, 80, 80, 0.678);
  opacity: 1;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

#search-bar input::placeholder {
  color: rgba(80, 80, 80, 0.678);
  opacity: 1;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

#search-bar input:focus {
  outline: none;
  border: 2px solid #833ab4;
  background: #fff;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid #833ab4;
  background: #fff;
}

.filters {
  -webkit-columns: auto;
          columns: auto;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
}

.filters .filter {
  display: inline-block;
  width: auto;
  margin: 0.25rem;
  min-height: 0;
  overflow: hidden;
  max-width: 100%;
  border: 1px solid #aaaaaa;
  padding: 8px 10px;
  border-radius: 80px;
  color: #111;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.filters .active-filter {
  background: #833ab4;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* ================ QUESTIONS =============== */
#questions {
  padding: 0 7% 5% 7%;
  text-align: start;
}

#questions .question {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

#questions .question a {
  color: #000;
}

#questions .question h2 {
  font-size: 1.3rem;
  font-weight: 400;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.5px;
  padding: 10px 0;
}

#questions .question h2 i {
  font-size: 1.5rem;
  padding: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #833ab4;
}

#questions .question p {
  font-family: "Open Sans", sans-serif;
  color: #323232;
  letter-spacing: 0.8px;
  margin: 0 auto;
  padding: 10px 0;
  /* 
      display: none; */
}

#questions .question .metroL1 {
  background: #c90000;
  color: #fff;
  padding: 4px;
}

#questions .question .metroL2 {
  background: #ac5eac;
  color: #fff;
  padding: 4px;
}

#questions .question .metroL3 {
  background: #176117;
  color: #fff;
  padding: 4px;
}

#questions .question .metroL5 {
  background: #1b1bb6;
  color: #fff;
  padding: 4px;
}

#questions .question .train {
  background: #df9100;
  color: #fff;
  padding: 4px;
}

#questions .question .taxi {
  background: #cdcd2c;
  color: #fff;
  padding: 4px;
}

#questions .question .aereobus {
  background: #59b5d3;
  color: #fff;
  padding: 4px;
}

#questions .question .option {
  color: #000;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  #search-bar input {
    padding: 15px 200px;
  }
}

.space {
  padding: 20px;
}

.hl {
  background: #ffc600;
}
/*# sourceMappingURL=howto.css.map */