body {
  font-family: sans-serif;
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  color: #000;
}

* {
  margin: 0;
}

img {
  background: transparent;
}

/* ================ HEADER =============== */
header {
  padding: 15px 20px;
}

header h5 {
  font-size: 1.5rem;
  padding: 0 25px;
  font-weight: 500;
  color: #833ab4;
  float: left;
  letter-spacing: 1.5px;
  position: relative;
}

header h5 img {
  width: 30px;
}

.menu {
  padding: 15px;
  background: transparent;
}

.menu .logo-img {
  width: 70px;
  position: absolute;
  top: 40px;
  right: 30px;
  padding: 0;
}

/* ================ BOTTOM NAV BAR =============== */
.bottom-bar {
  position: fixed;
  bottom: 0;
  background: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  width: 100%;
  padding: 2px 0;
  -webkit-box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
}

.bottom-bar #back {
  text-align: start;
  float: left;
}

.bottom-bar #back a img {
  width: 35px;
  padding-left: 15px;
}

.bottom-bar #map-action {
  text-align: end;
  float: right;
}

.bottom-bar #map-action a img {
  width: 40px;
  padding-right: 15px;
}

/* ================ SEARCH BAR =============== */
#search-bar {
  text-align: center;
  width: 100%;
  margin: 15px auto;
}

#search-bar input {
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  padding: 15px 40px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  margin: 0 auto;
  border: none;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  background: #fcb045b9;
}

#search-bar input::-webkit-input-placeholder {
  color: white;
  opacity: .8;
  font-size: 1rem;
}

#search-bar input:-ms-input-placeholder {
  color: white;
  opacity: .8;
  font-size: 1rem;
}

#search-bar input::-ms-input-placeholder {
  color: white;
  opacity: .8;
  font-size: 1rem;
}

#search-bar input::placeholder {
  color: white;
  opacity: .8;
  font-size: 1rem;
}

/* ================ QUESTIONS =============== */
#questions {
  padding: 0 7% 5% 7%;
  text-align: center;
}

#questions .question {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

#questions .question h2 {
  font-size: 1.3rem;
  font-weight: 400;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  letter-spacing: .5px;
  padding: 10px;
}

#questions .question h2 i {
  font-size: 1.5rem;
  padding: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #833ab4;
}

#questions .question p {
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  letter-spacing: .8px;
  margin: 0 auto;
  padding: 10px 0;
}

@media screen and (min-width: 800px) {
  #search-bar input {
    padding: 15px 200px;
  }
}

.space {
  padding: 20px;
}
/*# sourceMappingURL=howto.css.map */