body {
  font-family: sans-serif;
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  color: #000;
}

* {
  margin: 0;
}

img {
  background: transparent;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  padding: 5px 20px;
}

header h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #833ab4;
  letter-spacing: 1.5px;
}

header h5 img {
  width: 40px;
  position: relative;
  bottom: -7px;
  left: -4px;
}

header .logo-img {
  width: 50px;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  width: 100%;
  -webkit-box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
}

.bottom-bar #back {
  float: left;
}

.bottom-bar #back .back-btn {
  width: 40px;
  padding-left: 25px;
}

.bottom-bar #map-action {
  float: right;
}

.bottom-bar #map-action .map-btn {
  width: 40px;
  padding-right: 25px;
}

/* ================ SEARCH BAR =============== */
#search-bar {
  text-align: center;
  width: 100%;
  margin: 40px auto 0 auto;
}

#search-bar input {
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  padding: 20px 50px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  margin: 0 auto;
  border: none;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  background: #fcb045b9;
  /* 
    @include removeTouch; */
}

#search-bar input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

#search-bar input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

#search-bar input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

#search-bar input::placeholder {
  color: #fff;
  opacity: 1;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

textarea:focus,
input:focus {
  outline: none;
}

/* ================ QUESTIONS =============== */
#questions {
  padding: 0 7% 5% 7%;
  text-align: start;
}

#questions .question {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

#questions .question a {
  color: #000;
}

#questions .question h2 {
  font-size: 1.3rem;
  font-weight: 400;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  letter-spacing: 0.5px;
  padding: 10px 0;
}

#questions .question h2 i {
  font-size: 1.5rem;
  padding: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #833ab4;
}

#questions .question p {
  font-family: "Open Sans", sans-serif;
  color: #323232;
  letter-spacing: 0.8px;
  margin: 0 auto;
  padding: 10px 0;
  /* 
      display: none; */
}

#questions .question .metroL2 {
  background: #ac5eac;
  color: #fff;
  padding: 4px;
}

#questions .question .metroL3 {
  background: #176117;
  color: #fff;
  padding: 4px;
}

#questions .question .metroL5 {
  background: #1b1bb6;
  color: #fff;
  padding: 4px;
}

#questions .question .option {
  color: #000;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  #search-bar input {
    padding: 15px 200px;
  }
}

.space {
  padding: 20px;
}

.hl {
  background: #ffc600;
}
/*# sourceMappingURL=howto.css.map */