@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  color: #000;
}

.opacity {
  opacity: 0.5;
}

.new:after {
  content: "new";
  position: absolute;
  font-size: 0.8rem;
  color: #833ab4;
}

header {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid #80808038;
  -webkit-border-bottom: 1px solid #80808038;
}

header h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #484848;
}

header h5 img {
  width: 40px;
  position: relative;
  bottom: -7px;
  left: -4px;
}

header .logo-img {
  width: 60px;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  padding: 2px 0;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.bottom-bar img {
  width: 25px;
  position: relative;
  top: 3px;
}

.bottom-bar h2 {
  font-size: 0.7rem;
  margin: 0;
  font-weight: 200;
}

.bottom-bar #back {
  float: left;
}

.bottom-bar #back .back-btn img {
  left: 10px;
}

.bottom-bar #back .back-btn h2 {
  padding-left: 25px;
}

.bottom-bar #map-action {
  float: right;
}

.bottom-bar #map-action .map-btn img {
  right: 10px;
}

.bottom-bar #map-action .map-btn h2 {
  padding-right: 25px;
}

.place {
  margin: 25px auto;
  max-width: 325px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: #484848;
  position: relative;
  /* .place_tips {
    padding: 90px 10px 20px 10px;
    font-size: 1rem;

    p {
      text-align: center;
      letter-spacing: 0.05rem;
      line-height: 1.6rem;
      color: $mainGray;
      padding: 10px;
    } */
}

.place .place_img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 220px;
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.place .header-card {
  position: absolute;
  z-index: 1;
  background: #f3f3f3;
  padding: 15px 10px;
  border-radius: 5px;
  top: 12.5rem;
  left: 0.75rem;
  width: 280px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(136, 136, 136, 0.71);
          box-shadow: 0 0 10px 0 rgba(136, 136, 136, 0.71);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr 1fr 80px;
      grid-template-columns: 80px 1fr 1fr 80px;
      grid-template-areas: "title title title title" "avg hours hours goBtn";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.place .header-card .place_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: title;
}

.place .header-card .place_title h1 {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 1.4px;
  font-size: 1.7rem;
  font-weight: 400;
}

.place .header-card .place_google_info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: hours;
}

.place .header-card .place_google_info .google-info {
  font-size: 0.9rem;
  font-weight: 400;
  position: relative;
}

.place .header-card .place_google_info .google-info i {
  font-size: 0.9rem;
}

.place .header-card .place_google_info .google-info img {
  width: 15px;
  position: relative;
  top: 2px;
  -webkit-transform: initial;
          transform: initial;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.place .header-card .place_google_info .google-info .rotateImg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.place .header-card .place_google_info .google-info .hours-btn {
  font-size: 0.8rem;
  text-decoration: underline;
}

.place .header-card .place_google_info .google-info .hours-btn {
  position: relative;
  display: inline-block;
}

.place .header-card .place_google_info .google-info .hours-btn .weekly-hours {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  font-weight: 100;
  width: 250px;
  background-color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  margin-left: -132px;
  bottom: 36px;
  z-index: 9999;
  -webkit-box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
}

.place .header-card .place_google_info .google-info .hours-btn .weekly-hours ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  text-align: center;
  font-weight: 200;
  color: #484848;
  font-size: 0.9rem;
}

.place .header-card .place_google_info .google-info .hours-btn .weekly-hours ul .weekly_title {
  font-size: 1.2rem;
  font-weight: 400;
  border-bottom: 1px solid #80808038;
  margin: 0 20px 10px 20px;
}

.place .header-card .place_google_info .google-info .hours-btn .weekly-hours ul li {
  padding: 6px 0;
}

.place .header-card .place_go-btn {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: goBtn;
}

.place .header-card .place_go-btn .go_btn {
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  color: #000;
  text-decoration: none;
  background: transparent;
  font-weight: 400;
  /*   -webkit-box-shadow: inset 0px 0px 10px 0px #76767643;
        box-shadow: inset 0px 0px 10px 0px #76767643; */
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 50%;
}

.place .header-card .place_go-btn .go_btn span {
  padding: 0 3px;
}

.place .header-card .place_go-btn .go_btn i {
  padding-right: 3px;
}

.place .header-card .place_go-btn .go_btn img {
  width: 1rem;
  position: relative;
  top: 3px;
}

.place .header-card .place_avg_price {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: avg;
}

.place .header-card .place_avg_price i {
  padding-right: 3px;
}

.place .header-card .place_avg_price img {
  width: 18px;
  position: relative;
  top: 2px;
  right: 3px;
}

.place .header-card .place_avg_price span {
  font-weight: 100;
  /* 
        border-bottom: 1px solid #484848; */
  cursor: pointer;
  font-size: 0.9rem;
}

.place .place_tips {
  position: relative;
  padding: 90px 10px 20px 10px;
  font-size: 1rem;
}

.place .place_tips .btn {
  color: #484848;
  left: 50%;
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  width: 90px;
  margin-left: -45px;
  border: none;
  text-decoration: underline;
  background: white;
}

.place .place_tips p {
  position: relative;
  overflow: hidden;
  text-align: center;
  letter-spacing: 0.05rem;
  line-height: 1.6rem;
  padding: 10px;
}

.place .place_tips .height-for-text {
  max-height: 130px;
}

.place .place_tips .show,
.place .place_tips .hide {
  position: absolute;
  bottom: 0.8rem;
  z-index: 100;
  text-align: center;
}

.place .place_tips .hide {
  display: none;
}

.place .place_tips .fade {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%);
  height: 100px;
  margin-top: -100px;
  position: relative;
}

.close {
  color: #da2222;
}

.open {
  /* color: rgb(35, 174, 35); */
  color: #1a73e8;
}

.place:last-of-type {
  margin-bottom: 80px;
}

.card-install-app {
  margin: 25px auto;
  max-width: 325px;
  border-radius: 27px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: #111;
  position: relative;
  background: #fff;
}

.card-install-app .header h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 1.7rem;
  font-weight: 400;
  position: relative;
}

.card-install-app .header h1::before {
  content: "informative ad";
  position: absolute;
  color: #989898;
  text-transform: uppercase;
  font-size: 0.5rem;
  text-align: center;
  top: 5px;
  left: 50%;
  width: 130px;
  margin-left: -65px;
  letter-spacing: 0.2rem;
}

.card-install-app .app-bestfive {
  padding: 25px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-install-app .app-bestfive img {
  border-radius: 13px;
  width: 45px;
  height: 45px;
  padding: 15px;
  background: #f5edff;
}

.card-install-app .app-bestfive h2 {
  padding: 2px 0 0 0;
  font-weight: 200;
  font-size: 1.2rem;
  padding-left: 10px;
}

.card-install-app .title-use-app {
  padding: 5px 10px 15px 10px;
  text-align: center;
}

.card-install-app .text-add-app {
  padding: 15px 10px;
  text-align: center;
  background: #dedede8c;
  border-radius: 0 0 27px 27px;
}

.card-install-app .text-add-app img {
  position: relative;
  top: 5px;
  width: 25px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-next {
  position: absolute;
  top: 55% !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/icon/arrow-right-white.png") !important;
}

.swiper-button-prev {
  position: absolute;
  top: 55% !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/icon/arrow-left-white.png") !important;
  left: 10px !important;
}

@media only screen and (max-width: 340px) {
  .place {
    max-width: 290px;
  }
  .place .header-card {
    width: 245px;
  }
}

@media only screen and (min-width: 800px) {
  /* .places {
    padding: 40px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  } */
  header {
    max-width: 550px;
    margin: 0 auto;
  }
  .bottom-bar {
    position: initial;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .bottom-bar #map-action {
    left: 28%;
    bottom: 45%;
    position: fixed;
    background: whitesmoke;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
  }
  .bottom-bar #map-action .map-btn img {
    right: 0;
  }
  .bottom-bar #map-action .map-btn h2 {
    padding-right: 0;
  }
  .bottom-bar #back {
    left: 28%;
    bottom: 55%;
    position: fixed;
    background: whitesmoke;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
  }
  .bottom-bar #back .back-btn img {
    left: 0;
  }
  .bottom-bar #back .back-btn h2 {
    padding-left: 5px;
  }
  .bottom-bar img {
    width: 35px;
  }
  .bottom-bar h2 {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=reviews.css.map */