@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  color: #000;
}

header {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid #80808038;
}

header h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #833ab4;
  letter-spacing: 1.5px;
}

header h5 img {
  width: 40px;
  position: relative;
  bottom: -7px;
  left: -4px;
}

header .logo-img {
  width: 60px;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 0;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.bottom-bar #back {
  float: left;
}

.bottom-bar #back .back-btn {
  width: 30px;
  padding-left: 25px;
}

.bottom-bar #map-action {
  float: right;
}

.bottom-bar #map-action .map-btn {
  width: 30px;
  padding-right: 25px;
}

.place {
  margin: 25px auto;
  max-width: 325px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: #484848;
  position: relative;
}

.place .place_img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 80%;
  max-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.place .header-card {
  position: absolute;
  z-index: 1;
  background: #f3f3f3;
  padding: 15px 10px;
  border-radius: 5px;
  top: 13rem;
  left: .75rem;
  width: 280px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(136, 136, 136, 0.71);
          box-shadow: 0 0 10px 0 rgba(136, 136, 136, 0.71);
  display: -ms-grid;
  display: grid;
  grid-gap: 3px;
      grid-template-areas: "title title title title" "avg hours hours goBtn";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.place .header-card .place_title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: title;
}

.place .header-card .place_title h1 {
  padding-bottom: 15px;
  text-align: center;
  letter-spacing: 1.4px;
  font-size: 1.7rem;
  font-weight: 200;
}

.place .header-card .place_google_info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: hours;
}

.place .header-card .place_google_info .google-info {
  font-size: 0.9rem;
  font-weight: 400;
}

.place .header-card .place_google_info .google-info i {
  font-size: .9rem;
}

.place .header-card .place_google_info .google-info img {
  width: 15px;
  position: relative;
  top: 2px;
}

.place .header-card .place_google_info .google-info .hours-btn {
  font-size: 0.8rem;
  text-decoration: underline;
}

.place .header-card .place_google_info .google-info .hours-btn {
  position: relative;
  display: inline-block;
}

.place .header-card .place_google_info .google-info .hours-btn .weekly-hours {
  visibility: hidden;
  font-weight: 100;
  width: 260px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  left: -165px;
  bottom: 100px;
  z-index: 2;
  border: 4px solid #833ab4;
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.place .header-card .place_google_info .google-info .hours-btn .weekly-hours ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.place .header-card .place_google_info .google-info .hours-btn .weekly-hours ul li {
  padding: 3px 0;
  border-radius: 4px;
}

.place .header-card .place_google_info .google-info .hours-btn:hover .weekly-hours,
.place .header-card .place_google_info .google-info .hours-btn:active .weekly-hours {
  visibility: visible;
}

.place .header-card .place_go-btn {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: goBtn;
}

.place .header-card .place_go-btn .go_btn {
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  color: #000;
  text-decoration: none;
  background: transparent;
  font-weight: 100;
  /*   -webkit-box-shadow: inset 0px 0px 10px 0px #76767643;
        box-shadow: inset 0px 0px 10px 0px #76767643; */
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 50%;
}

.place .header-card .place_go-btn .go_btn span {
  font-weight: 700;
}

.place .header-card .place_avg_price {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: avg;
}

.place .header-card .place_avg_price img {
  width: 15px;
  position: relative;
  top: 2px;
}

.place .header-card .place_avg_price span {
  font-weight: 100;
  /* 
        border-bottom: 1px solid #484848; */
  cursor: pointer;
  font-size: .9rem;
}

.place .place_tips {
  position: relative;
  padding: 90px 10px 25px 10px;
  font-size: .9rem;
}

.place .place_tips img {
  position: absolute;
  left: 15px;
  width: 23px;
}

.place .place_tips p {
  text-align: center;
  letter-spacing: 1.15px;
  color: #484848;
}

.place .close {
  color: #da2222;
}

.place .open {
  color: #23ae23;
}

.place .hide {
  display: none;
}

.place:last-of-type {
  margin-bottom: 80px;
}
/*# sourceMappingURL=reviews.css.map */