@import "variables";
@import "mixins";

body {
  @include mainStyle;
  @include clean-link;
  color: #484848;
}

* {
  margin: 0;
}

img {
  background: transparent;
}

a {
  @include removeTouch;
  @include clean-link;
}

// ============ HEADER ============

header {
  padding: 15px 20px;
  border-bottom: 1px solid #80808038;

  img {
    width: 33px;
    position: relative;
    bottom: -7px;
    left: -4px;
  }

  h5 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #484848;
  }
}

// ============ BOTTOM NAV BAR ============

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: $mainWhite;
  width: 100%;
  z-index: 2;
  padding: 2px 0;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;

  a {
    @include clean-link;
  }

  img {
    width: 25px;
    position: relative;
    top: 3px;
  }

  h2 {
    font-size: 0.7rem;
    margin: 0;
    font-weight: 200;
  }

  #back {
    float: left;

    .back-btn {
      img {
        left: 10px;
      }

      h2 {
        padding-left: 25px;
      }
    }
  }

  #map-action {
    float: right;

    .map-btn {
      img {
        right: 10px;
      }

      h2 {
        padding-right: 25px;
      }
    }
  }
}

/* ================ ABOUT CONTENT =============== */

.story {
  padding: 10px 10px;
  text-align: center;

  img {
    width: 100%;
    padding: 20px 0;
    max-width: 200px;
    border-radius: 50%;
  }

  p {
    letter-spacing: 1.1px;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.7rem;
    max-width: 600px;
    margin: 0 auto;
  }
}

.last-story {
  padding-bottom: 70px;
}

@media screen and (min-width: 800px) {
  header {
    max-width: 550px;
    margin: 0 auto;
  }

  .bottom-bar {
    position: initial;
    background: transparent;
    box-shadow: none;

    #back {
      left: 30px;
      bottom: 30px;
      position: fixed;
      background: whitesmoke;
      width: 50px;
      border-radius: 50%;
      padding: 10px;
      text-align: center;

      .back-btn {
        img {
          left: 0;
        }

        h2 {
          padding-left: 5px;
        }
      }
    }

    img {
      width: 32px;
    }

    h2 {
      font-size: 0.9rem;
    }
  }
}
