@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

// =============== CONTACT FORM ==============

.contact-form {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -260px 0 0 -140px;
  width: 280px;
  height: 520px;
  /* box-shadow: 0 0 20px 0 #484848; */
  background: #fff;
  padding: 3px;
  border-radius: 20px;
  letter-spacing: 1.1px;
  transition: opacity 150ms ease-in-out;

  form {
    padding: 20px 10px 0 10px;
    text-align: start;
    font-size: 1.3rem;
    display: grid;
    place-content: center;

    label {
      padding-left: 15px;
      color: #000;
      font-size: 1.3rem;
    }

    input {
      -webkit-appearance: none;
      margin: 10px 0;
      padding: 3px 0 3px 18px;
      width: 92%;
      display: block;
      outline: none;
      font-size: 1.2rem;
      color: #484848;
      border-radius: 20px;
      border: 1px solid #833ab4;
      transition: all 150ms ease-in-out;

      &:focus {
        -webkitbox-box-shadow: 0 0 10px 0 #833ab49e;
        -moz-box-shadow: 0 0 10px 0 #833ab49e;
        box-shadow: 0 0 10px 0 #833ab49e;
        border: 1px solid transparent;
      }
    }

    textarea {
      -webkit-appearance: none;
      font-family: "Open Sans", sans-serif;
      width: 92%;
      padding-left: 18px;
      font-size: 1.2rem;
      color: #484848;
      margin: 15px 0 20px 0;
      outline: none;
      border-radius: 20px;
      border: 1px solid #833ab4;
      transition: all 150ms ease-in-out;

      &:focus {
        -webkitbox-box-shadow: 0 0 10px 0 #833ab49e;
        -moz-box-shadow: 0 0 10px 0 #833ab49e;
        box-shadow: 0 0 10px 0 #833ab49e;
        border: 1px solid transparent;
      }
    }

    ::placeholder {
      font-size: 1.5rem;
      color: #484848;
    }

    button {
      width: 100%;
      padding: 7px 0;
      background: #833ab4;
      color: #fff;
      font-size: 1.3rem;
      border: none;
      border-radius: 20px;
      font-weight: 200;
      letter-spacing: 1.1px;

      i {
        color: #fff;
        padding-right: 6px;
      }
    }
  }

  .closeBtnForm {
    text-align: end;
    padding: 10px;
    position: absolute;
    right: -5px;
    top: -15px;
    color: #484848ab;

    p {
      margin: 0;
      padding: 20px;
    }
  }
}

@media only screen and (min-width: 360px) {
  .contact-form {
    margin: -300px 0 0 -170px;
    width: 340px;
    height: 600px;
    padding: 8px;

    form {
      padding: 30px 10px 10px 10px;

      input {
        margin: 15px 0 20px 0;
      }

      textarea {
        margin: 15px 0 40px 0;
      }

      button {
        padding: 10px 0;
      }
    }
  }
}

@media only screen and (max-height: 550px) {
  .contact-form {
    margin-top: -200px;
  }
}
