@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

body {
  @include mainStyle;
  background: white;
  line-height: 1;
  height: 100vh;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 400px;
  color: #484848;
}

a {
  @include removeTouch;
  @include clean-link;
}

img {
  background: transparent;
}

// =============== CONTACT FORM ==============

.contact-form {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -260px 0 0 -140px;
  max-width: 280px;
  max-height: 520px;
  width: 90%;
  height: 90%;
  /* box-shadow: 0 0 20px 0 #484848; */
  background: #fff;
  padding: 3px;
  border-radius: 20px;
  letter-spacing: 1.1px;
  transition: opacity 150ms ease-in-out;

  form {
    padding: 0 10px;
    text-align: start;
    font-size: 1.3rem;

    label {
      padding-left: 15px;
      color: #000;
      font-size: 1.3rem;
    }

    input {
      margin: 10px 0;
      padding: 3px 0 3px 18px;
      width: 92%;
      display: block;
      outline: none;
      font-size: 1.2rem;
      color: #484848;
      border-radius: 20px;
      border: 1px solid #48484866;
      transition: all 150ms ease-in-out;

      &:focus {
        box-shadow: 0 0 10px 0#48484866;
        border: none;
      }
    }

    textarea {
      font-family: "Open Sans", sans-serif;
      width: 92%;
      padding-left: 18px;
      font-size: 1.2rem;
      color: #484848;
      margin: 15px 0 20px 0;
      outline: none;
      border-radius: 20px;
      border: 1px solid #48484866;
      transition: all 150ms ease-in-out;

      &:focus {
        box-shadow: 0 0 10px 0 #48484866;
        border: none;
      }
    }

    ::placeholder {
      font-size: 1.5rem;
      color: #484848;
    }

    button {
      width: 100%;
      padding: 10px 0;
      background: #833ab4;
      color: #fff;
      font-size: 1.3rem;
      border: none;
      border-radius: 20px;
      font-weight: 200;
      letter-spacing: 1.1px;

      i {
        color: #fff;
        padding-right: 6px;
      }
    }
  }

  .closeBtnForm {
    text-align: end;
    padding: 10px;
    position: absolute;
    right: -5px;
    top: -15px;
    color: #484848ab;

    p {
      margin: 0;
      padding: 20px;
    }
  }
}

.back-button {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #d4d4d4;

  img {
    padding: 5px 10px 0 8px;
    width: 25px;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    padding: 3px 7px;
  }
}

@media only screen and (min-width: 360px) {
  .contact-form {
    margin: -300px 0 0 -170px;
    max-width: 340px;
    max-height: 600px;

    form {
      padding: 20px 10px;

      input {
        margin: 15px 0 20px 0;
      }

      textarea {
        margin: 15px 0 40px 0;
      }
    }
  }
}
