@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

body {
  @include mainStyle;
  background: white;
  line-height: 1;
  height: 100%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 400px;
  color: #484848;
}

// ============ HEADER ============

header {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid #80808038;
  -webkit-border-bottom: 1px solid #80808038;

  h5 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #484848;
    margin: 0;

    img {
      width: 40px;
      position: relative;
      bottom: -7px;
      left: -4px;
    }
  }
}

.text p {
  margin: 0 auto;
  padding-top: 20px;
  line-height: 1.5rem;
  font-size: 1.1rem;
  max-width: 300px;
}

.contact-form {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  padding: 3px;
  border-radius: 10px;
  letter-spacing: 1.1px;
  transition: opacity 150ms ease-in-out;

  form {
    padding: 30px 10px 0 10px;
    font-size: 1.2rem;
    display: grid;
    max-width: 300px;
    place-content: center;
    margin: 0 auto;

    .row {
      padding: 5px 0;
    }

    label {
      color: #484848;
      place-self: start;
    }

    input {
      margin: 10px 0;
      padding: 8px;
      width: 85%;
      display: block;
      outline: none;
      font-size: 1.1rem;
      color: #484848;
      background: #d3b9e469;
      position: relative;
      border: none;
      border-radius: 2px;
      transition: background 90ms ease-in-out;

      &:focus {
        background: #d3b9e4d6;
      }
    }

    textarea {
      padding: 8px;
      font-family: "Open Sans", sans-serif;
      width: 85%;
      font-size: 1.2rem;
      color: #484848;
      margin: 15px auto;
      outline: none;
      border: none;
      font-size: 1.1rem;
      color: #484848;
      background: #d3b9e469;
      border-radius: 2px;
      transition: background 90ms ease-in-out;

      &:focus {
        background: #d3b9e4d6;
      }

      &::placeholder {
        font-size: 1.5rem;
        color: #484848;
      }
    }

    button {
      padding: 15px;
      background: #833ab4;
      color: #fff;
      font-size: 1rem;
      border: none;
      border-radius: 2px;
      font-weight: 200;
      letter-spacing: 1.1px;
      transition: transform 100ms ease-in-out;

      &:active,
      &:focus {
        transform: scale(0.9);
      }
    }
  }
}

.emoji-fran-contact {
  display: grid;
  place-content: end;
  padding-bottom: 60px;

  img {
    width: 150px;
    text-align: end;
  }
}

// ============ BOTTOM NAV BAR ============

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: $mainWhite;
  width: 100%;
  z-index: 2;
  padding: 2px 0;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;

  a {
    @include clean-link;
  }

  img {
    width: 30px;
    position: relative;
    top: 3px;
  }

  h2 {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 200;
  }

  #back {
    float: left;

    .back-btn {
      img {
        left: 10px;
      }

      h2 {
        padding-left: 25px;
      }
    }
  }

  #map-action {
    float: right;

    .map-btn {
      img {
        right: 10px;
      }

      h2 {
        padding-right: 25px;
      }
    }
  }
}

// RATE TOUR

.review-container {
  padding-top: 25px;
}
.review-btn {
  text-decoration: none;
  h2 {
    padding: 14px 0;
    color: white;
    width: 150px;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 200;
    line-height: 1.2rem;
    text-align: center;
    background: #833ab4;

    img {
      width: 16px;
      position: relative;
      top: 2px;
    }
  }
}
