@import "variables";
@import "mixins";

body {
  @include mainStyle;
  line-height: 1;
  height: 100vh;
}

a {
  @include removeTouch;
  @include clean-link;
}

// ============ HEADER ============ 

header {
  background: transparent;
  transition: 0.1s ease-in-out;
  padding-top: 7px;
  width: 100%;
  border-bottom: 1px solid #80808038;

  h1 {
    font-size: 2rem;
    padding: 10px 60px 0 90px;
    font-weight: 200;
    margin: 0;
    text-align: start;
    letter-spacing: 1.5px;
    color: #833ab4;

    span {
      font-weight: 500;
    }

    .small-text {
      font-weight: 200;
      font-size: 0.9rem;
      position: relative;
      top: -15px;
      left: 1.5px;
    }
  }

  .handLogo {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 55px;
  }
}

.skyline {
  width: 100%;

  img {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

.alert {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  color: $mainGray;

  h5 {
    font-size: 1.5rem;
    margin: 20px 0 0 0;
    font-weight: 400;
  }

  p {
    padding: 20px;
  }

  .btn {
    text-decoration: none;
    color: $mainWhite;
    padding: 10px;
    background: #833ab4;
    border-radius: 2px;
    text-transform: uppercase;
    @include shadow;
  }
}