@import "variables";
@import "mixins";

a {
  @include removeTouch;
}

.float-footer {
  cursor: pointer;
  padding: 10px;

  img {
    width: 28px;
  }

  p {
    font-size: 1rem;
    margin: 0 15%;
    padding: 10px;
    background: #833ab4;
    color: white;
    text-align: center;
  }
}

.close-btn {
  position: absolute;
  right: 20px;
  cursor: pointer;

  p {
    padding: 10px;
    background: #833ab4;
    color: white;
    text-align: center;
  }
}

footer {
  padding: 10px;
  text-align: center;
  display: none;
  color: $mainGray;
  background: $mainWhite;

  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 10px 40px;

    h2 {
      font-size: 1rem;
      font-weight: 700;
      color: $mainBlack;
      letter-spacing: 1.1px;
      text-align: center;
    }
  }

  .last-section {
    border-top: 1px solid $mainGray;
    margin: 0 80px;
  }

  p {
    background: transparent;
    font-size: .8rem;
    color: $mainGray;
    margin: 0;
    padding-top: 10px;
  }

  a {
    color: $mainGray;
    font-size: .9rem;
    @include clean-link;
  }

}