@import "variables";
@import "mixins";


.float-footer {
  padding: 10px;
  position: fixed;
  bottom: 70px;
  left: -10px;
  border-radius: 10px;
  color: #833ab4;
  cursor: pointer;

  img {
    width: 38px;
  }

  p {
    font-size: .6rem;
    margin: 0;
  }
}

.close-btn {
  position: absolute;
  right: 20px;
  cursor: pointer;

  img {
    width: 18px;
    position: absolute;
    right: 0;
    top: 5px;
  }

  p {
    font-size: .8rem;
    padding: 7px 25px 7px 5px;
    border-radius: 10px;
    background: #fcb045;
    @include midShadow;
  }
}

footer {
  padding: 2px;
  padding-bottom: 130px;
  text-align: center;
  display: none;
  color: $mainGray;
  background: $mainWhite;

  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 10px 40px;

    h2 {
      font-size: 1rem;
      font-weight: 700;
      color: $mainBlack;
      letter-spacing: 1.1px;
      text-align: center;
    }
  }

  .last-section {
    border-top: 1px solid $mainGray;
    margin: 0 80px;
  }

  p {
    background: transparent;
    font-size: .8rem;
    color: $mainGray;
    margin: 0;
    padding-top: 10px;
  }

  a {
    color: $mainGray;
    font-size: .9rem;
  }

}