@import "variables";
@import "mixins";

body {
  @include mainStyle;
  @include clean-link;
}

* {
  margin: 0;
}

img {
  background: transparent;
}

a {
  @include removeTouch;
}

// ============ HEADER ============

header {
  padding: 5px 20px;

  h5 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #833ab4;
    letter-spacing: 1.5px;

    img {
      width: 40px;
      position: relative;
      bottom: -7px;
      left: -4px;
    }
  }

  .logo-img {
    width: 50px;
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 0;
  }
}

// ============ BOTTOM NAV BAR ============

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: $mainWhite;
  transition: 0.3s ease-in;
  width: 100%;
  @include deepShadow;

  #back {
    float: left;

    .back-btn {
      width: 40px;
      padding-left: 25px;
    }
  }

  #map-action {
    float: right;

    .map-btn {
      width: 40px;
      padding-right: 25px;
    }
  }
}


/* ================ SEARCH BAR =============== */

#search-bar {
  text-align: center;
  width: 100%;
  margin: 15px auto;

  input {
    @include shadow;
    padding: 15px 40px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 40px;
    color: $mainWhite;
    margin: 0 auto;
    border: none;
    transition: all 100ms ease-in;
    background: #fcb045b9;
    @include removeTouch;

    &::placeholder {
      color: white;
      opacity: .8;
      font-size: 1.1rem;
      letter-spacing: 1.1px;
    }
  }
}

textarea:focus,
input:focus {
  outline: none;
}

/* ================ QUESTIONS =============== */

#questions {
  padding: 0 7% 5% 7%;
  text-align: center;

  .question {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;

    h2 {
      font-size: 1.3rem;
      font-weight: 400;
      transition: 0.3s ease-in-out;
      letter-spacing: .5px;
      padding: 10px;

      i {
        font-size: 1.5rem;
        padding: 5px;
        transition: 0.3s ease-in-out;
        justify-self: center;
        color: #833ab4;
      }
    }

    p {
      font-family: 'Open Sans', sans-serif;
      color: #323232;
      letter-spacing: .8px;
      margin: 0 auto;
      padding: 10px 0;
    }
  }
}

@media screen and (min-width: 800px) {
  #search-bar input {
    padding: 15px 200px;
  }
}

.space {
  padding: 20px;
}