@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

* {
  margin: 0;
}

body {
  @include mainStyle;
}

a {
  @include removeTouch;
  @include clean-link;
}

.opacity {
  opacity: 0.5;
}

.new:after {
  content: 'new';
  position: absolute;
  font-size: .8rem;
  color: #833ab4;
}

// ============ HEADER ============

header {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid #80808038;
  -webkit-border-bottom: 1px solid #80808038;

  h5 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #484848;

    img {
      width: 40px;
      position: relative;
      bottom: -7px;
      left: -4px;
    }
  }

  .logo-img {
    width: 60px;
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 0;
  }
}

// ============ BOTTOM NAV BAR ============

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: $mainWhite;
  width: 100%;
  z-index: 2;
  padding: 2px 0;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;

  img {
    width: 25px;
    position: relative;
    top: 3px;
  }

  h2 {
    font-size: 0.7rem;
    margin: 0;
    font-weight: 200;
  }

  #back {
    float: left;

    .back-btn {
      img {
        left: 10px;
      }

      h2 {
        padding-left: 25px;
      }
    }
  }

  #map-action {
    float: right;

    .map-btn {
      img {
        right: 10px;
      }

      h2 {
        padding-right: 25px;
      }
    }
  }
}

// ============ CARD PLACES "REVIEW" ============

.place {
  margin: 25px auto;
  max-width: 325px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: #484848;
  position: relative;

  .place_img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 220px;
    max-width: 350px;
    object-fit: cover;
  }

  .header-card {
    position: absolute;
    z-index: 1;
    background: #f3f3f3;
    padding: 15px 10px;
    border-radius: 5px;
    top: 12.5rem;
    left: 0.75rem;
    width: 280px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(136, 136, 136, 0.71);
    display: grid;
    grid-template-columns: 80px 1fr 1fr 80px;
    grid-template-areas:
      "title title title title"
      "avg hours hours goBtn";
    align-items: center;
    text-align: center;

    .place_title {
      grid-area: title;

      h1 {
        position: relative;
        padding-bottom: 10px;
        text-align: center;
        letter-spacing: 1.4px;
        font-size: 1.7rem;
        font-weight: 400;
      }
    }

    .place_google_info {
      grid-area: hours;

      .google-info {
        font-size: 0.9rem;
        font-weight: 400;
        position: relative;

        i {
          font-size: 0.9rem;
        }

        img {
          width: 15px;
          position: relative;
          top: 2px;
          transform: initial;
          transition: 0.2s ease-in-out;
        }

        .rotateImg {
          transform: rotate(180deg);
        }

        .hours-btn {
          font-size: 0.8rem;
          text-decoration: underline;
        }

        .hours-btn {
          position: relative;
          display: inline-block;
        }

        .hours-btn .weekly-hours {
          box-sizing: border-box;
          visibility: hidden;
          font-weight: 100;
          width: 250px;
          background-color: #fff;
          text-align: center;
          border-radius: 6px;
          position: absolute;
          left: 50%;
          margin-left: -132px;
          bottom: 36px;
          z-index: 9999;
          @include deepShadow;

          ul {
            list-style-type: none;
            margin: 0;
            padding: 15px;
            text-align: center;
            font-weight: 200;
            color: #484848;
            font-size: 0.9rem;

            .weekly_title {
              font-size: 1.2rem;
              font-weight: 400;
              border-bottom: 1px solid #80808038;
              margin: 0 20px 10px 20px;
            }

            li {
              padding: 6px 0;
            }
          }
        }
      }
    }

    .place_go-btn {
      grid-area: goBtn;

      .go_btn {
        @include clean-link;
        text-decoration: none;
        background: transparent;
        font-weight: 400;
        /*   -webkit-box-shadow: inset 0px 0px 10px 0px #76767643;
        box-shadow: inset 0px 0px 10px 0px #76767643; */
        cursor: pointer;
        font-size: 0.9rem;
        border-radius: 50%;

        span {
          padding: 0 3px;
        }

        i {
          padding-right: 3px;
        }

        img {
          width: 1rem;
          position: relative;
          top: 3px;
        }
      }
    }

    .place_avg_price {
      grid-area: avg;

      i {
        padding-right: 3px;
      }

      img {
        width: 18px;
        position: relative;
        top: 2px;
        right: 3px;
      }

      span {
        font-weight: 100;
        /* 
        border-bottom: 1px solid #484848; */
        cursor: pointer;
        font-size: 0.9rem;
      }
    }
  }

  .place_tips {
    padding: 90px 10px 20px 10px;
    font-size: 0.9rem;

    p {
      text-align: center;
      letter-spacing: 1.15px;
      color: $mainGray;
      padding: 10px;
    }
  }

  .close {
    color: rgb(218, 34, 34);
  }

  .open {
    /* color: rgb(35, 174, 35); */
    color: #1a73e8;
  }
}

.place:last-of-type {
  margin-bottom: 80px;
}

// ============== SWIPER LIBRARY STYLE ============

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next {
  position: absolute;
  top: 55% !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/icon/arrow-right-white.png") !important;
}

.swiper-button-prev {
  position: absolute;
  top: 55% !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/icon/arrow-left-white.png") !important;
  left: 10px !important;
}

@media only screen and (max-width: 340px) {
  .place {
    max-width: 290px;

    .header-card {
      width: 245px;
    }
  }
}

@media only screen and (min-width: 800px) {
  /* .places {
    padding: 40px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  } */

  header {
    max-width: 550px;
    margin: 0 auto;
  }

  .bottom-bar {
    position: initial;
    background: transparent;
    box-shadow: none;

    #map-action {
      left: 28%;
      bottom: 45%;
      position: fixed;
      background: whitesmoke;
      width: 50px;
      border-radius: 50%;
      padding: 10px;
      text-align: center;

      .map-btn {
        img {
          right: 0;
        }

        h2 {
          padding-right: 0;
        }
      }
    }

    #back {
      left: 28%;
      bottom: 55%;
      position: fixed;
      background: whitesmoke;
      width: 50px;
      border-radius: 50%;
      padding: 10px;
      text-align: center;

      .back-btn {
        img {
          left: 0;
        }

        h2 {
          padding-left: 5px;
        }
      }
    }

    img {
      width: 35px;
    }

    h2 {
      font-size: 0.8rem;
    }
  }
}