@import "variables";
@import "mixins";

* {
  margin: 0;
}

body {
  @include mainStyle;
  overflow-x: hidden;
}

i {
  font-size: 1.5rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
  color: $mainBlack;
}

img {
  background: transparent;
}

a {
  @include removeTouch;
  @include clean-link;
}

// ============ HEADER ============

header {
  padding: 5px 20px;

  h5 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #833ab4;
    letter-spacing: 1.5px;

    img {
      width: 40px;
      position: relative;
      bottom: -7px;
      left: -4px;
    }
  }

  .logo-img {
    width: 50px;
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 0;
  }
}

// ============ BOTTOM NAV BAR ============

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: $mainWhite;
  transition: 0.3s ease-in;
  width: 100%;
  @include deepShadow;

  #back {
    float: left;

    .back-btn {
      width: 40px;
      padding-left: 25px;
    }
  }

  #map-action {
    float: right;

    .map-btn {
      width: 40px;
      padding-right: 25px;
    }
  }
}

// ============ CARD PLACES "REVIEW" ============

.place {
  margin: 10px 20px 20px 20px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: #000000ba;

  h1 {
    text-align: start;
    font-size: 1.4rem;
    padding: 10px 25px 0 25px;
    font-weight: 400;
    color: $mainBlack;

    a {
      @include clean-link;
      box-shadow: inset 0px 0px 10px 0px #76767643;
      cursor: pointer;
      float: right;
      font-size: 0.9rem;
      font-weight: 400;
      padding: 10px;
      border-radius: 8px;

      img {
        width: 25px;
      }
    }
  }

  h2 {
    font-size: 0.9rem;
    margin: 5px 0;
    padding: 0 0 10px 25px;
    font-weight: 400;
  }

  .google-info {
    .hours-btn {
      font-size: 0.8rem;
      text-decoration: underline;
    }

    .hours-btn {
      position: relative;
      display: inline-block;
    }

    .hours-btn .weekly-hours {
      visibility: hidden;
      font-weight: 100;
      width: 240px;
      background-color: rgb(255, 255, 255);
      color: #000;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      left: -100px;
      z-index: 1;
      @include shadow;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;

        li {
          padding: 5px 0;
        }
      }
    }

    .hours-btn:hover .weekly-hours {
      visibility: visible;
    }

    .hours-btn:active .weekly-hours {
      visibility: visible;
    }
  }

  .close {
    color: rgb(218, 34, 34);
    font-weight: 400;
  }

  .open {
    color: rgb(35, 174, 35);
    font-weight: 400;
  }

  img {
    width: 100%;
    max-width: 800px;
  }

  .text {
    padding: 10px;
    font-size: .9rem;
    max-width: 800px;

    .more {
      text-align: center;

      .more-img {
        transform: initial;
        width: 20px;
        transition: 0.2s ease-in-out;
      }

      .rotateImg {
        transform: rotate(180deg);
      }
    }

    .avg {
      margin: 0;

      .hl-phrase {
        font-weight: 700;
      }

      .more {
        cursor: pointer;
        padding: 0;
      }

      li {
        text-align: center;
        padding: 0 0 5px 0;

        span {
          font-size: 1.2rem;
        }
      }
    }

    .prosCons {
      .pros {
        background: #9900ff2b;
        border-radius: 10px;
        padding: 10px 50px 10px 0px;
        margin: 0 10px 5px 10px;
        transition-property: all 0.4s;
        transition-property: transform;
      }

      .cons {
        padding: 10px;
        transition-property: all 0.4s 0.5s;
        transition-property: transform;
      }
    }

    .hide {
      display: none;
    }

    h5 {
      font-size: 1.1rem;
      text-align: start;
      padding-left: 15px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: start;

      li {
        color: $mainGray;
        text-align: start;
        padding: 5px 0 0 15px;

        i {
          font-size: 1.2rem;
          padding-top: 5px;
          color: #833ab4;
        }
      }
    }
  }
}

.last-card {
  margin-bottom: 70px;
}

/* ------- MEDIA QUERY ------  */

@media screen and (min-width: 700px) {
  h1 {
    text-align: center;
    font-size: 2.3rem;
    padding: 10px 0;
  }

  header h1 {
    padding-left: 0;
    font-size: 2.7rem;
  }

  .place {
    max-width: 900px;
    margin: 30px auto;
  }

  .place h1 {
    text-align: center;
    padding-left: 0;
  }

  .place img {
    text-align: center;
  }

  .text {
    font-size: 1.3rem;
  }

  .text h5 {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
  }

  .text ul {
    text-align: center;
  }

  .text ul li {
    padding: 10px;
  }

  .text ul li i {
    width: 50px;
    text-align: center;
    font-size: 1.3rem;
  }

  .link-div {
    text-align: center;
    font-size: 1.3rem;
  }

  .bottom-bar {
    padding: 0;
  }

  #map-action a img,
  #back a img,
  #icon-categ a img {
    width: 50px;
  }
}

.space {
  padding: 20px;
}