* {
  font-family: 'Rubik', sans-serif;
  color: #484848;
  margin: 0 auto;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.menu {
  padding: 40px;
}

.logo-img {
  width: 120px;
  text-align: start;
  float: left;
  position: absolute;
  top: 10px;
  left: -20px;
  padding: 0;
}

header {
  padding: 20px;
  margin-bottom: 60px;
}

header h1 {
  font-size: 1.5rem;
  text-align: start;
  padding-left: 30px;
  font-weight: 500;
  color: #000;
  float: left;
  letter-spacing: 1.5px;
}

header h5 {
  font-size: 1.2rem;
  text-align: start;
  padding: 0 0 20px 30px;
  font-weight: 200;
  color: #B3B3B3;
  float: left;
  letter-spacing: 1.5px;
  position: relative;
}

#back-btn {
  width: 35px;
  float: right;
  position: absolute;
  top: 15px;
  right: 20px;
}

.story {
  padding: 10px 10px;
}

.story img {
  width: 100%;
  padding: 20px 0;
}

.story p {
  letter-spacing: 1.2px;
  padding: 10px 20px;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.last-story {
  padding-bottom: 40px;
}

/* ------ FOOTER ------- */

.close-btn {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.close-btn img {
  width: 30px;
  position: absolute;
  left: -30px;
  top: 3px;
}

.close-btn p {
  font-size: 1rem;
}

.float-footer {
  padding: 10px;
  background: white;
  -webkit-box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.float-footer img {
  width: 30px;
}

.float-footer p {
  font-size: .7rem;
  margin: 0;
}

footer {
  padding: 2px;
  text-align: center;
  display: none;
  color: #484848;
  background: whitesmoke;
}

footer section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 10px 40px;
}

.last-section {
  border-top: 1px solid #484848;
  margin: 0 80px;
}

footer h2 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  letter-spacing: 1.3px;
  text-align: start;
}

footer p {
  background: transparent;
  font-size: .8rem;
  color: #484848;
  margin: 0;
  padding-top: 10px;
}

footer a {
  background: transparent;
  color: #484848;
}

footer section a:hover {
  text-decoration: inherit;
}