* {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #000;
  margin: 0 auto;
}

body {
  height: 100%;
}

/* ------ GENERAL STYLE ------  */

header {
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  letter-spacing: .5px;
  padding: 10px;
}

.question p {
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  letter-spacing: .8px;
  margin: 0 auto;
}

i {
  font-size: 1.5rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
  color: #000;
}

.border {
  border: 3px solid #000;
  margin: 0 30px;
}

/* ------ BACK BUTTON ------  */

#back {
  text-align: start;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  display: none;
  transition: 0.3s ease-in;
  width: 100%;
}

#back a i {
  font-size: 2rem;
  color: black;
  background: transparent;
}

#map-action {
  text-align: start;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: transparent;
  transition: 0.3s ease-in;
}

#up {
  text-align: start;
  padding: 10px 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: transparent;
  transition: 0.3s ease-in;
  display: none;
}

#up a {
  background: transparent;
}

#up a i {
  font-size: 2rem;
  color: white;
  padding: 10px 15px;
  background: #000;
  border-radius: 50%;
}

/* ------- LOGO ------ */

#logo img {
  padding-top: 50px;
  max-width: 300px;
}

/* ------- TITLE ------ */

#title {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

#title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
}

#title em {
  font-size: .8rem;
}

#title img {
  width: 55px;
}

/* ------- SEARCH BAR ------ */

#search-bar {
  padding-top: 20px;
  text-align: center;
}

#search-bar input {
  padding: 15px 40px;
  border: 1px solid rgb(51, 51, 51);
  font-size: 1.2rem;
  text-align: center;
  background: rgb(255, 212, 212);
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
}

/* ------ QUESTIONS ------  */

#questions {
  padding: 3% 7% 5% 7%;
  text-align: center;
}

.question {
  padding: 10px;
}

/* Add color to question when the answer is activated background: whitesmoke; */
/* .answer {
  display: none;
} */

@media screen and (min-width: 800px) {
  #search-bar input {
    padding: 15px 200px;
  }
}

/* .answer {
  display: none;
  transition: 0.4s ease-in-out;
} */

/* ------ FOOTER ------- */

footer {
  background: #000;
  padding: 30px;
  text-align: center;
}

footer p {
  background: #000;
  color: white;
}

footer a {
  background: #000;
  color: white;
}