* {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #000;
  margin: 0 auto;
}

body {
  height: 100%;
}

/* ------ GENERAL STYLE ------  */

header {
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  letter-spacing: .5px;
  padding: 10px;
}

.question p {
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  letter-spacing: .8px;
  margin: 0 auto;
}

i {
  font-size: 1.5rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
  color: #000;
}

.border {
  border: 3px solid #000;
  margin: 0 30px;
}

/* ------ ICON CALL TO ACTION ------  */

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: white;
  transition: 0.3s ease-in;
  width: 100%;
  display: none;
  padding-top: 7px;
  padding-bottom: 6px;
}

#back {
  text-align: start;
  float: left;
}

#back a img {
  width: 30px;
  padding-left: 10px;
  background: transparent;
}

#map-action {
  text-align: end;
  float: right;
}

#map-action a img {
  width: 30px;
  padding-right: 10px;
  background: transparent;
}

#icon-categ {
  text-align: center;
  float: center;
}

#icon-categ a img {
  width: 30px;
  background: transparent;
}

/* ------- LOGO ------ */

#logo img {
  padding-top: 50px;
  max-width: 300px;
}

/* ------- HEADER ------ */

header {
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
}

header em {
  font-size: .8rem;
}

header img {
  width: 55px;
}

/* ------- SEARCH BAR ------ */

#search-bar {
  padding-top: 20px;
  text-align: center;
}

#search-bar input {
  padding: 15px 40px;
  border: 1px solid rgb(51, 51, 51);
  font-size: 1.2rem;
  text-align: center;
  background: rgb(255, 212, 212);
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
}

/* ------ QUESTIONS ------  */

#questions {
  padding: 3% 7% 5% 7%;
  text-align: center;
}

.question {
  padding: 10px;
}

/* Add color to question when the answer is activated background: whitesmoke; */
/* .answer {
  display: none;
} */

@media screen and (min-width: 800px) {
  #search-bar input {
    padding: 15px 200px;
  }
}

/* .answer {
  display: none;
  transition: 0.4s ease-in-out;
} */

/* ------ FOOTER ------- */

footer {
  background: whitesmoke;
  padding-bottom: 60px;
  padding-top: 10px;
  text-align: center;
}

footer p {
  background: whitesmoke;
  color: black;
}

footer a {
  background: whitesmoke;
  color: black;
}