* {
  font-family: sans-serif;
  background-color: white;
  color: #484848;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden
}

a {
  text-decoration: none;
}

/* ------ GENERAL STYLE ------  */

header {
  padding: 15px 20px;
}

header h5 {
  font-size: 1.5rem;
  text-align: start;
  padding: 0 25px 10px 25px;
  font-weight: 500;
  color: #B3B3B3;
  float: left;
  letter-spacing: 1.5px;
  position: relative;
}

.menu {
  padding: 15px;
  background: transparent;
}

.logo-img {
  width: 120px;
  position: absolute;
  top: 35px;
  right: 0;
  padding: 0;
  background: transparent;
}

header h1::after {
  content: 'ask anything';
  font-size: .8rem;
  position: absolute;
  bottom: -10px;
  left: 32px;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  letter-spacing: .5px;
  padding: 10px;
}

i {
  font-size: 1.5rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
  color: #000;
}

.border {
  border: 3px solid #000;
  margin: 0 30px;
}

/* ------ ICON CALL TO ACTION ------  */

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: white;
  transition: 0.3s ease-in;
  width: 100%;
  padding: 4px 0 3px 0;
  -webkit-box-shadow: 2px 2px 16px -6px #484848;
  -moz-box-shadow: 2px 2px 16px -6px #484848;
  box-shadow: 2px 2px 16px -6px #484848;
}


#back {
  text-align: start;
  float: left;
}

#back a img {
  width: 25px;
  padding: 5px 0 0 15px;
  background: transparent;
}

#map-action {
  text-align: end;
  float: right;
}

#map-action a img {
  width: 35px;
  padding-right: 10px;
  background: transparent;
}

#icon-categ {
  text-align: center;
  float: center;
}

#icon-categ a img {
  width: 33px;
  background: transparent;
}


/* ------- LOGO ------ */

#logo img {
  padding-top: 50px;
  max-width: 300px;
}

/* ------- SEARCH BAR ------ */

#search-bar {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#search-bar input {
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  padding: 15px 50px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 40px;
  color: #000;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  transition: all 100ms ease-in;
}

#search-bar input::placeholder {
  color: #B3B3B3;
  opacity: .8;
  font-size: 1rem;
}

/* ------ QUESTIONS ------  */

#questions {
  padding: 3% 7% 5% 7%;
  text-align: center;
}

.question {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.question p {
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  letter-spacing: .8px;
  margin: 0 auto;
  padding: 10px 0;
}

@media screen and (min-width: 800px) {
  #search-bar input {
    padding: 15px 200px;
  }
}

/* ------ FOOTER ------- */
.space {
  padding: 20px;
}

footer {
  background: #28406F;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 10px;
  text-align: center;
  display: none;
}

footer p {
  background: #28406F;
  color: #fff;
  font-size: .8rem;
}

footer a {
  background: #28406F;
  color: #fff;
}