* {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #000;
}

body {
  height: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 0.8rem;
  font-weight: 100;
  transition: 0.3s ease-in-out;
  justify-self: center;
  margin: 0;
  background: transparent;
}

i {
  font-size: 1.2rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
}

a {
  text-decoration: none;
}

.icon-app img {
  width: 55px;
}

img {
  background: transparent;
}

/* ------- UTILITY CLASS ------- */

.border {
  border: 1px solid #000;
  margin: 15px 70px;
}

/* ------ HEADER ------ */

header {
  font-size: 1.5rem;
  text-align: center;
}

header img {
  max-width: 330px;
  padding-top: 15px;
}

/* ------- ICONE APP INFORMATIONS ------ */

#info-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  place-items: center;
  grid-gap: 5px;
  margin: 0 auto;
  padding: 0px 105px;
  background: whitesmoke;
}

#info-bottom .icon-app {
  background: whitesmoke;
  border-radius: 0;
}

#info-bottom h2 {
  background: whitesmoke;
  padding-bottom: 10px;
}

/* ------- ICONE APP ------ */

#menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  grid-gap: 5px;
  margin: 0 auto;
  padding: 0 13px 10px 13px;
}

.icon-app {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  transition: 0.3s ease-in-out;
  padding: 10px;
}

/* ------ MEDIA QUERY ------  */

@media screen and (min-width: 450px) {
  .icon-app {
    width: 60px;
    height: 60px;
    padding: 20px;
  }

  #menu {
    padding: 5px 20px;
  }

  #info-bottom {
    padding: 5px 130px 20px 130px;
  }

}

@media screen and (min-width: 550px) {
  #menu {
    padding: 20px 40px;
  }

  #info-bottom {
    padding: 5px 150px 20px 150px;
  }

  .border {
    margin: 15px 140px;
  }
}

@media screen and (min-width: 600px) {
  #menu {
    padding: 5px 70px;
  }

  #info-bottom {
    padding: 5px 190px 20px 190px;
  }
}

@media screen and (min-width: 650px) {
  #menu {
    grid-template-columns: repeat(5, 1fr);
    padding: 5px 60px;
  }

  #info-bottom {
    padding: 5px 220px 20px 220px;
  }

  .border {
    margin: 15px 170px;
  }
}

@media screen and (min-width: 700px) {
  #menu {
    padding: 5px 90px;
  }

  #info-bottom {
    padding: 5px 250px 20px 250px;
  }
}

@media screen and (min-width: 750px) {
  #menu {
    padding: 5px 110px;
  }

  #info-bottom {
    padding: 5px 270px 20px 270px;
  }

  .border {
    margin: 15px 220px;
  }
}

@media screen and (min-width: 800px) {
  #menu {
    padding: 5px 140px;
  }

  #info-bottom {
    padding: 5px 300px 20px 300px;
  }
}

@media screen and (min-width: 900px) {
  #menu {
    padding: 5px 180px;
    max-width: 550px;
  }

  #info-bottom {
    padding: 5px 340px 20px 340px;
    max-width: 230px;
  }

  .border {
    max-width: 400px;
    margin: 15px auto;
  }
}

/* ------- CATEGORY APP ------- */

#app1 {
  background: #00E676;
  background: -webkit-linear-gradient(to top, #00E676, #139809);
  background: linear-gradient(to top, #00E676, #139809);
}

#app2 {
  background-color: purple;
}

#app3 {
  background-color: blue;
}

.information {
  background-color: green;
}

.shopBeach {
  background-color: yellow;
}