* {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #000;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  text-align: start;
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #28406F;
}

h2 {
  font-size: 0.8rem;
  font-weight: 100;
  transition: 0.3s ease-in-out;
  justify-self: center;
  margin: 0;
  background: transparent;
  padding: 5px 0 10px 0
}

i {
  font-size: 1.2rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
}

a {
  text-decoration: none;
  background: transparent;
}

img {
  background: transparent;
}

#content-body {
  display: inline;
}

#img-logo-loader {
  background: black;
  display: none;
}

#img-logo-loader img {
  bposition: absolute;
  top: 50%;
  left: 50%;
}

/* ------- UTILITY CLASS ------- */


/* ------ HEADER ------ */

header {
  font-size: 1.5rem;
  text-align: center;
}

header img {
  max-width: 250px;
  padding-top: 15px;
}

/* ------- ICONE APP INFORMATIONS ------ */

#info-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  place-items: center;
  grid-gap: 5px;
  margin: 0 auto;
  padding: 5px 105px 0 105px;
  background: whitesmoke;
  min-height: 12vh;
}

#info-bottom .icon-app {
  background: whitesmoke;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

#info-bottom h2 {
  background: whitesmoke;
  padding-bottom: 10px;
}

/* ------- LANGUAGES ------- */

#languages-section {
  position: fixed;
  background: transparent;
  bottom: 75%;
}

#languages-section img {
  width: 50px;
  background: transparent;
}

#languages {
  background: transparent;
  display: none;
  transition: 0.5s ease-in-out;
}

#languages .language {
  background: transparent;
  box-sizing: border-box;
  display: inline-block;
  transition: 0.5s ease-in-out;
}

#languages .language a {
  padding: 20px;
  background: whitesmoke;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

/* .language {
  padding: 5px 5px;
} */

/* ------- ICONE APP ------ */

#menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  grid-gap: 5px;
  margin: 0 auto;
  padding: 0 13px 10px 13px;
}

.icon-app {
  border-radius: 10px;
  width: 45px;
  height: 45px;
  transition: 0.3s ease-in-out;
  padding: 10px;
  background: whitesmoke;
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.icon-app img {
  width: 45px;
}

/* ------ MEDIA QUERY ------  */

@media screen and (min-width: 450px) {
  .icon-app {
    width: 60px;
    height: 60px;
    padding: 20px;
  }

  #menu {
    padding: 5px 20px;
  }

  #info-bottom {
    padding: 5px 130px 20px 130px;
  }

}

@media screen and (min-width: 550px) {
  #menu {
    padding: 20px 40px;
  }

  #info-bottom {
    padding: 5px 150px 20px 150px;
  }

}

@media screen and (min-width: 600px) {
  #menu {
    padding: 5px 70px;
  }

  #info-bottom {
    padding: 5px 190px 20px 190px;
  }
}

@media screen and (min-width: 650px) {
  #menu {
    grid-template-columns: repeat(5, 1fr);
    padding: 5px 60px;
  }

  #info-bottom {
    padding: 5px 220px 20px 220px;
  }

}

@media screen and (min-width: 700px) {
  #menu {
    padding: 5px 90px;
  }

  #info-bottom {
    padding: 5px 250px 20px 250px;
  }
}

@media screen and (min-width: 750px) {
  #menu {
    padding: 20px 110px;
  }

  #info-bottom {
    padding: 5px 270px 20px 270px;
  }
}

@media screen and (min-width: 800px) {
  #menu {
    padding: 25px 140px;
  }

  #info-bottom {
    padding: 5px 300px 20px 300px;
  }
}

@media screen and (min-width: 900px) {
  #menu {
    padding: 40px 180px;
    max-width: 550px;
  }

  #info-bottom {
    padding: 5px 40%;
  }

  #languages-section {
    left: 20%;
  }
}

@media screen and (min-width: 1200px) {
  #menu {
    padding: 40px 180px;
    max-width: 550px;
  }

  #info-bottom {
    padding: 5px 40%;
  }

  #languages-section {
    left: 30%;
  }
}

/* ------ FOOTER ------- */

footer {
  background: rgb(226, 225, 225);
  padding: 10px;
  text-align: center;
}

footer p {
  background: rgb(226, 225, 225);
  font-size: 0.8rem;
  color: #484848;
}

footer a {
  background: rgb(226, 225, 225);
  color: #484848;
}