* {
  /* font-family: 'Rubik', sans-serif; */
  font-family: sans-serif;
  background-color: white;
  color: #000;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  background: transparent;
  transition: .1s ease-in-out;
  padding-top: 7px;
  padding-bottom: 15px;
  width: 100%;
}

/* header h1 {
  font-size: 1.3rem;
  padding: 0 60px;
  font-weight: 500;
  color: #000;
  background: transparent;
  margin: 0;
  float: left;
  letter-spacing: 1.5px;
  position: relative;
} */

header h1 {
  font-size: 1.3rem;
  padding: 0 60px;
  font-weight: 500;
  /* color: #484848; */
  color: #000;
  background: transparent;
  text-align: center;
  margin: 0;
  float: center;
  letter-spacing: 1.5px;
  position: relative;
  font-family: 'Pacifico', cursive;
}

/* header h1#company-name::after {
  content: 'Bcn';
  font-size: .8rem;
  position: absolute;
  bottom: -10px;
  padding: 0 35px;
  left: 27px;
} */

#company-name img {
  position: absolute;
  left: -20px;
  top: 0;
  width: 100px;
}

.logo-img {
  width: 200px;
  text-align: start;
  float: left;
  position: absolute;
  top: -30px;
  left: -20px;
  padding: 0;
}

#top-img {
  width: 100%;
  padding-top: 50px;
  margin-bottom: -5px;
}

#top-img img {
  width: 100%;
}

h2 {
  /* color: #484848; */
  color: #000;
  font-size: .7rem;
  font-weight: 100;
  transition: 0.3s ease-in-out;
  justify-self: center;
  margin: 0;
  background: transparent;
  padding: 5px 0 10px 0
}

i {
  font-size: 1.2rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
}

a {
  text-decoration: none;
  background: transparent;
  font-weight: 100;
}

img {
  background: transparent;
}

#content-body {
  display: inline;
  max-width: 550px;
}

.loader {
  /* background: #000; */
  background: #fff;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 250px;
}

.loader.hidden {
  animation: fade-out .4s;
  animation-fill-mode: forwards;
}

/* .loader h1 {
  letter-spacing: 1.5px;
  font-size: 2.2rem;
  text-align: center;
  padding: 0 25px;
  font-weight: 500;
  color: #003580;
  margin: 0;
  position: absolute;
  background: transparent;
  top: 200px;
  left: 60px;
  animation-name: go-up;
  animation-duration: 3s;
} */

@keyframes fade-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* ------- ICONE APP INFORMATIONS ------ */

#info-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  place-items: center;
  margin: 0 auto;
  padding: 5px 105px 40px 105px;
  background: white;
  min-height: 8vh;
}

/* #info-bottom .icon-app {
  background: transparent;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
} */

#info-bottom .icon-app {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: 0.3s ease-in-out;
  padding: 10px;
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

#info-bottom .icon-app img {
  width: 37px;
}

/* #info-bottom .icon-app img {
  width: 35px;
} */

/* #info-bottom h2 {
  background: transparent;
  padding: 0;
  padding-bottom: 5px;
  color: #000;
} */

/* ------- LANGUAGES ------- */

.btn-lang {
  position: absolute;
  background: transparent;
  right: 10px;
  top: 3px;
  color: #111111f0;
  font-size: .8rem;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.btn-lang img {
  width: 10px;
}

#languages-section {
  width: 50px;
  position: absolute;
  text-align: center;
  right: 10px;
  transition: all opacity 1s;
  display: none;
  border-radius: 10px;
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  -webkit-box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -6px rgba(0, 0, 0, 0.75);
}

#languages-section h1 {
  font-size: 2rem;
  padding: 0 30px;
  letter-spacing: 0;
  position: relative;
}

.language {
  background: transparent;
  padding: 4px;
}

.language img {
  width: 30px;
}

#clean-lang {
  background: #000;
}

#clean-lang a img {
  width: 15px;
  padding: 0;
}

@keyframes fade-in {
  from {
    /* right: -200px; */
    opacity: 0;
  }

  to {
    /* right: 10px; */
    opacity: 1;
  }
}

/* ------- ICONE APP ------ */

#menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  grid-gap: 5px;
  margin: 0 auto;
  padding: 0 25px;
}

.icon-app {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: 0.3s ease-in-out;
  padding: 10px;
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.icon-app img {
  width: 37px;
}

/* ------ MEDIA QUERY ------  */

@media screen and (min-width: 450px) {
  .icon-app {
    width: 60px;
    height: 60px;
    padding: 20px;
  }

  #menu {
    padding: 5px 20px;
    padding-top: 80px;
  }

  #info-bottom {
    padding: 5px 130px 20px 130px;
  }

}

@media screen and (min-width: 550px) {
  #menu {
    padding: 20px 40px;
    padding-top: 80px;
  }

  #info-bottom {
    padding: 5px 150px 20px 150px;
  }

  header img {
    width: 25px;
    right: 45px;
  }
}

@media screen and (min-width: 600px) {
  #menu {
    padding: 5px 70px;
    padding-top: 80px;
  }

  #info-bottom {
    padding: 5px 190px 20px 190px;
  }

  header img {
    right: 60px;
  }
}

@media screen and (min-width: 650px) {
  #menu {
    grid-template-columns: repeat(5, 1fr);
    padding: 5px 60px;
    padding-top: 100px;
  }

  #info-bottom {
    padding: 5px 220px 20px 220px;
  }

}

@media screen and (min-width: 700px) {
  #menu {
    padding: 5px 90px;
    padding-top: 100px;
  }

  #info-bottom {
    padding: 5px 250px 20px 250px;
  }
}

@media screen and (min-width: 750px) {
  #menu {
    padding: 20px 110px;
    padding-top: 100px;
  }

  #info-bottom {
    padding: 5px 270px 20px 270px;
  }
}

@media screen and (min-width: 800px) {
  header h1 {
    font-size: 2.5rem;
  }

  #menu {
    padding: 25px 140px;
    padding-top: 100px;

  }

  #info-bottom {
    padding: 5px 300px 20px 300px;
  }
}

@media screen and (min-width: 900px) {
  #menu {
    padding: 40px 180px;
    padding-top: 100px;
    max-width: 550px;
  }

  #info-bottom {
    padding: 5px 40%;
  }

  #languages-section {
    left: 20%;
  }
}

@media screen and (min-width: 1200px) {
  #menu {
    padding: 40px 180px;
    padding-top: 100px;
    max-width: 550px;
  }

  #info-bottom {
    padding: 5px 40%;
  }

  #languages-section {
    left: 30%;
  }
}

/* ------ FOOTER ------- */

.close-btn {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.close-btn img {
  width: 18px;
  position: absolute;
  right: 0;
  top: 5px;
}

.close-btn p {
  font-size: .8rem;
  padding: 7px 25px 7px 5px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 25px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -9px rgba(0, 0, 0, 0.75);
}

.float-footer {
  padding: 10px;
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.float-footer img {
  width: 30px;
}

.float-footer p {
  font-size: .7rem;
  margin: 0;
}

footer {
  padding: 2px;
  text-align: center;
  display: none;
  color: #484848;
  background: white;
}

footer section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 10px 40px;
}

.last-section {
  border-top: 1px solid #484848;
  margin: 0 80px;
}

footer h2 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  letter-spacing: 1.1px;
  text-align: start;
}

footer p {
  background: transparent;
  font-size: .8rem;
  color: #484848;
  margin: 0;
  padding-top: 10px;
}

footer a {
  background: transparent;
  color: #484848;
  font-size: .9rem;
}

#foot section a:hover {
  text-decoration: inherit;
}