* {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: #484848;
  margin: 0 auto;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* ------ GENERAL STYLE ------  */

h1 {
  font-size: 1.8rem;
  padding: 10px 25px;
  font-weight: 400;
}

h2 {
  font-size: 1rem;
  font-weight: 100;
  transition: 0.3s ease-in-out;
  justify-self: center;
}

a {
  text-decoration: none;
  background: transparent;
}

p {
  font-family: 'Open Sans', sans-serif;
}

i {
  font-size: 1.5rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
  color: #000;
}

.border {
  border: 2px solid #000;
  margin: 0 30px 0 30px;
}

/* -------HEADER ------ */

header {
  text-align: start;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  background: none;
  padding-left: 40px;
  padding-top: 30px;
}

header em {
  font-size: .8rem;
}

header img {
  width: 55px;
}

/* ------ ICON CALL TO ACTION ------  */

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: white;
  transition: 0.3s ease-in;
  width: 100%;
  display: none;
  padding-top: 7px;
  padding-bottom: 6px;
}

#back {
  text-align: start;
  float: left;
}

#back a img {
  width: 30px;
  padding-left: 10px;
  background: transparent;
}

#map-action {
  text-align: end;
  float: right;
}

#map-action a img {
  width: 30px;
  padding-right: 10px;
  background: transparent;
}

#icon-categ {
  text-align: center;
  float: center;
}

#icon-categ a img {
  width: 30px;
  background: transparent;
}

/* ------- LOGO ------ */

#logo img {
  padding-top: 50px;
  max-width: 300px;
}

/* ------- REVIEW CARD ------- */

.place {
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  margin: 15px;
}

.place h1 {
  text-align: start;
}

.place img {
  width: 100%;
  max-width: 800px;
  padding-bottom: 10px;
}

.text {
  padding: 10px;
  font-size: 1rem;
  max-width: 800px;
}

.text h5 {
  font-size: 1.3rem;
  text-align: start;
  padding-left: 15px;
  font-weight: 400;
}

.text ul {
  list-style: none;
  padding: 0;
  text-align: start;
}

.text ul li {
  color: #484848;
}

.text ul li i {
  margin-top: 15px;
  width: 40px;
  font-size: 1rem;
  text-align: center;
  color: #484848;
}

.text p {
  padding: 15px;
  text-align: justify;
}

.link-div {
  text-align: start;
  padding-left: 25px;
  padding-bottom: 20px;
  font-weight: 100;
}

.place a {
  text-align: start;
  text-decoration: underline;
}


/* ------- MEDIA QUERY ------  */

@media screen and (min-width: 700px) {
  h1 {
    text-align: center;
    font-size: 2.3rem;
    padding: 10px 0;
  }

  header h1 {
    padding-left: 0;
    font-size: 2.7rem;
  }

  .place {
    max-width: 900px;
    margin: 30px auto;
  }

  .header-card {
    text-align: center;
  }

  .place h1 {
    text-align: center;
    padding-left: 0;
  }

  .place img {
    text-align: center;
  }

  .text {
    font-size: 1.3rem;
  }

  .text h5 {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
  }

  .text ul {
    text-align: center;
  }

  .text ul li {
    padding: 10px;
  }

  .text ul li i {
    width: 50px;
    text-align: center;
    font-size: 1.3rem;
  }

  .link-div {
    text-align: center;
    font-size: 1.3rem;
  }

  .bottom-bar {
    padding: 0;
  }


  #map-action a img,
  #back a img,
  #icon-categ a img {
    width: 50px;
  }
}

/* ------ FOOTER ------- */

footer {
  background: whitesmoke;
  padding-bottom: 60px;
  padding-top: 10px;
  text-align: center;
}

footer p {
  background: whitesmoke;
}

footer a {
  background: whitesmoke;
}