* {
  font-family: sans-serif;
  color: #484848;
  margin: 0 auto;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* ------ GENERAL STYLE ------  */

header {
  padding: 15px 20px;
}

header h5 {
  font-size: 1.5rem;
  text-align: start;
  padding: 0 0 20px 27px;
  font-weight: 500;
  color: #B3B3B3;
  float: left;
  letter-spacing: 1.5px;
  position: relative;
}

.menu {
  padding: 15px;
}

.logo-img {
  width: 120px;
  position: absolute;
  top: 30px;
  right: 0;
  padding: 0;
}

header h1 {
  font-size: 2rem;
  text-align: start;
  padding-left: 30px;
  font-weight: 200;
  /*  color: #003580; */
  color: #db3f47;
  float: left;
  letter-spacing: 1.5px;
  position: relative;
}

header h1::after {
  content: 'cheap eats';
  font-size: .8rem;
  position: absolute;
  bottom: -10px;
  left: 32px;
}

h2 {
  font-size: 1rem;
  font-weight: 100;
  transition: 0.3s ease-in-out;
  justify-self: center;
}

a {
  text-decoration: none;
  background: transparent;
}

p {
  font-family: sans-serif;
}

i {
  font-size: 1.5rem;
  padding: 5px;
  transition: 0.3s ease-in-out;
  justify-self: center;
  color: #000;
}

/* ------ ICON CALL TO ACTION ------  */

.bottom-bar {
  position: fixed;
  bottom: 0;
  background: white;
  transition: 0.3s ease-in;
  width: 100%;
  padding: 4px 0 3px 0;
  -webkit-box-shadow: 2px 2px 16px -6px #484848;
  -moz-box-shadow: 2px 2px 16px -6px #484848;
  box-shadow: 2px 2px 16px -6px #484848;
}

#back {
  text-align: start;
  float: left;
}

#back a img {
  width: 25px;
  padding: 5px 0 0 15px;
  background: transparent;
}

#map-action {
  text-align: end;
  float: right;
}

#map-action a img {
  width: 35px;
  padding-right: 10px;
  background: transparent;
}

#icon-categ {
  text-align: center;
  float: center;
}

#icon-categ a img {
  width: 35px;
  background: transparent;
}

/* ------- REVIEW CARD ------- */

.place {
  margin: 0 20px 20px 20px;
  padding: 10px 0;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.place h1 {
  text-align: start;
  font-size: 1.4rem;
  padding: 10px 25px;
  font-weight: 500;
  color: #000;
}

.place img {
  width: 100%;
  max-width: 800px;
  padding-bottom: 10px;
}

.text {
  padding: 10px;
  font-size: 1rem;
  max-width: 800px;
}

.text h5 {
  font-size: 1.3rem;
  text-align: start;
  padding-left: 15px;
  font-weight: 400;
}

.text ul {
  list-style: none;
  padding: 0;
  text-align: start;
}

.text ul li {
  color: #484848;
}

.text ul li i {
  margin-top: 15px;
  width: 40px;
  font-size: 1rem;
  text-align: center;
  color: #484848;
}

.text p {
  letter-spacing: 1.1px;
  padding: 15px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.link-div {
  text-align: start;
  padding-left: 25px;
  padding-bottom: 20px;
  font-weight: 100;
}

.place a {
  text-align: start;
  text-decoration: underline;
}

.last-card {
  margin-bottom: 70px;
}

/* ------- LOGO ------ */

#logo img {
  padding-top: 50px;
  max-width: 300px;
}

/* ------- MEDIA QUERY ------  */

@media screen and (min-width: 700px) {
  h1 {
    text-align: center;
    font-size: 2.3rem;
    padding: 10px 0;
  }

  header h1 {
    padding-left: 0;
    font-size: 2.7rem;
  }

  .place {
    max-width: 900px;
    margin: 30px auto;
  }

  .header-card {
    text-align: center;
  }

  .place h1 {
    text-align: center;
    padding-left: 0;
  }

  .place img {
    text-align: center;
  }

  .text {
    font-size: 1.3rem;
  }

  .text h5 {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
  }

  .text ul {
    text-align: center;
  }

  .text ul li {
    padding: 10px;
  }

  .text ul li i {
    width: 50px;
    text-align: center;
    font-size: 1.3rem;
  }

  .link-div {
    text-align: center;
    font-size: 1.3rem;
  }

  .bottom-bar {
    padding: 0;
  }


  #map-action a img,
  #back a img,
  #icon-categ a img {
    width: 50px;
  }
}

/* ------ FOOTER ------- */

.space {
  padding: 20px;
}

footer {
  background: #28406F;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 10px;
  text-align: center;
  display: none;
}

footer p {
  background: #28406F;
  color: #fff;
  font-size: .8rem;
}

footer a {
  background: #28406F;
  color: #fff;
}